{% import "_includes/forms" as forms %}

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro customTextInput(element, name, fieldName, value, options, isCraft34) %}
    {% import "_includes/forms" as forms %}
    {% from _self import errorList %}
    {% set subfieldName = name ~ '[' ~ fieldName ~ ']' %}
    {% set errors = element is not empty ? element.getErrors(subfieldName) : [] %}
    {% set fieldClasses = options['classes'] ?? [] %}
    {% if errors | length %}
        {% set fieldClasses = fieldClasses | merge(['errors']) %}
    {% endif %}
    {% set value = value[fieldName] ?? '' %}
    {% if options['isCurrency'] is defined and options['isCurrency'] %}
        {% set value = value | number %}
    {% endif %}
    <div class="input{% if errors | length %} errors{% endif %}">
        {{- forms.text({
            id: fieldName,
            name: subfieldName,
            class: fieldClasses | join(' '),
            errors: errors,
            value: value,
            size: options['size'] ?? null
        }) -}}
    </div>
    {{ errorList(errors) }}
{% endmacro %}

{% from _self import errorList %}
{% from _self import customTextInput %}

{% set showInventory = settings.displayInventory is defined and settings.displayInventory %}
{% set showWeight = value.shippable is defined and value.shippable %}
{% set showDimensions = showWeight %}
{% set showTaxable = settings.displayTaxableSwitch %}
{% set showShippable = settings.displayShippableSwitch %}


<div class="snipcart-product-details">
    <div id="snipcart-sku-field" class="field-group border-t-0">
        <div class="field-label w-2/5 sm:w-1/5">
            <label for="sku" class="required">
                {{- "SKU"|t -}}
            </label>
        </div>
        <div class="field-input w-3/5 sm:w-4/5">
            {{ customTextInput(element, name, 'sku', value, { classes: ['code'] }, isCraft34) }}
        </div>
    </div>
    <div id="snipcart-inventory-field" class="field-group border-t{% if not showInventory %} hidden{% endif %}">
        <div class="field-label w-2/5 sm:w-1/5">
            <label for="inventory">
                {{- "Inventory"|t -}}
            </label>
        </div>
        <div class="field-input w-3/5 sm:w-4/5">
            {{ customTextInput(element, name, 'inventory', value, { size: 9 }, isCraft34) }}
        </div>
    </div>
    <div id="snipcart-price-field" class="field-group border-t">
        <div class="field-label w-2/5 sm:w-1/5">
            <label for="price" class="required">
                {{- "Price"|t -}}
            </label>
        </div>
        <div class="field-input w-3/5 sm:w-4/5">
            <div class="price-wrapper">
                <div class="currency-symbol">
                    {{ craft.snipcart.defaultCurrencySymbol }}
                </div>
                {{- customTextInput(element, name, 'price', value, { size: 9, isCurrency: true }, isCraft34) -}}
            </div>
        </div>
    </div>
    <div id="snipcart-taxable-field" class="field-group border-t{% if not showTaxable %} hidden{% endif %}">
        <div class="field-label w-2/5 sm:w-1/5">
            <label for="taxable">
                {{- "Taxable"|t -}}
            </label>
        </div>
        <div class="field-input w-3/5 sm:w-4/5">
            {% set fieldHandle = name ~ '[taxable]' %}
            {{ forms.lightswitch({
                id: 'taxable',
                name: fieldHandle,
                on: value.taxable ?? false,
                value: true
            }) }}
            {% if element is not empty %}
                {{ errorList(element.getErrors(fieldHandle)) }}
            {% endif %}
        </div>
    </div>
    <div id="snipcart-shippable-field" class="field-group border-t{% if not showShippable %} hidden{% endif %}">
        <div class="field-label w-2/5 sm:w-1/5">
            <label for="shippable">
                {{- "Shippable"|t -}}
            </label>
        </div>
        <div class="field-input w-3/5 sm:w-4/5">
            {% set fieldHandle = name ~ '[shippable]' %}
            {{ forms.lightswitch({
                id: 'shippable',
                name: fieldHandle,
                on: value.shippable ?? false,
                value: true,
            }) }}
            {% if element is not empty %}
                {{ errorList(element.getErrors(fieldHandle)) }}
            {% endif %}
        </div>
    </div>
    <div id="snipcart-weight-field" class="field-group border-t{% if not showWeight %} hidden{% endif %}">
        <div class="field-label w-2/5 sm:w-1/5">
            <label for="weight">
                {{- "Weight"|t -}}
            </label>
        </div>
        <div class="field-input w-3/5 sm:w-4/5">
            {% set fieldHandle = name ~ '[weight]' %}
            {{ forms.text({
                id: 'weight',
                name: fieldHandle,
                value: value.weight ?? '',
                size: 8,
            }) }}

            <div class="select">
                {% set fieldHandle = name ~ '[weightUnit]' %}
                {{ forms.select({
                    id: 'weightUnit',
                    name: fieldHandle,
                    options: weightUnitOptions,
                    value: value.weightUnit ?? '',
                    errors: field.getErrors('weightUnit'),
                }) }}
            </div>
            {% if element is not empty %}
                {{ errorList(element.getErrors(name ~ '[weight]')) }}
                {{ errorList(element.getErrors(name ~ '[weightUnit]')) }}
            {% endif %}
        </div>
    </div>
    <div id="snipcart-dimensions-field" class="field-group border-t{% if not showDimensions %} hidden{% endif %}">
        <div class="field-label w-2/5 sm:w-1/5">
            <label>
                {{- "Dimensions"|t -}}
            </label>
        </div>
        <div class="field-input w-3/5 sm:w-4/5">
            {% set fieldHandle = name ~ '[length]' %}
            {{ forms.text({
                id: 'length',
                name: fieldHandle,
                class: 'dimension-input',
                placeholder: 'L',
                size: 5,
                value: value.length ?? '',
                errors: field.getErrors('length'),
            }) }} <span class="muted">×</span>

            {% set fieldHandle = name ~ '[width]' %}
            {{ forms.text({
                id: 'width',
                name: fieldHandle,
                class: 'dimension-input',
                placeholder: 'W',
                size: 5,
                value: value.width ?? '',
                errors: field.getErrors('width'),
            }) }} <span class="muted">×</span>

            {% set fieldHandle = name ~ '[height]' %}
            {{ forms.text({
                id: 'height',
                name: fieldHandle,
                class: 'dimension-input',
                placeholder: 'H',
                size: 5,
                value: value.height ?? '',
                errors: field.getErrors('height'),
            }) }}

            <div class="select mt-2 sm:mt-0">
                {% set fieldHandle = name ~ '[dimensionsUnit]' %}
                {{ forms.select({
                    id: 'dimensionsUnit',
                    name: fieldHandle,
                    options: dimensionsUnitOptions,
                    value: value.dimensionsUnit ?? '',
                    errors: field.getErrors('dimensionsUnit'),
                }) }}
            </div>

            {% if element is not empty %}
                {{ errorList(element.getErrors(name ~ '[length]')) }}
                {{ errorList(element.getErrors(name ~ '[width]')) }}
                {{ errorList(element.getErrors(name ~ '[height]')) }}
                {{ errorList(element.getErrors(name ~ '[dimensionsUnit]')) }}
            {% endif %}
        </div>
    </div>
</div>
