{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    label: 'Inventory Enabled?'|t,
    id: 'displayInventory',
    required: true,
    name: 'displayInventory',
    on: field.displayInventory,
    value: true,
    errors: field.getErrors('displayInventory'),
    instructions: "Switch on to display an inventory input for this field."
}) }}

{{ forms.lightswitchField({
    label: 'Display Shippable Option?'|t,
    id: 'displayShippableSwitch',
    required: true,
    name: 'displayShippableSwitch',
    on: field.displayShippableSwitch,
    value: true,
    errors: field.getErrors('displayShippableSwitch'),
    instructions: "Switch on to display a shippable option for this field."
}) }}

{{ forms.lightswitchField({
    label: 'Shippable Default'|t,
    id: 'defaultShippable',
    required: true,
    name: 'defaultShippable',
    on: field.defaultShippable,
    value: true,
    errors: field.getErrors('defaultShippable'),
    instructions: "Switch on to have items Shippable by default."
}) }}

{{ forms.lightswitchField({
    label: 'Display Taxable Option?'|t,
    id: 'displayTaxableSwitch',
    required: true,
    name: 'displayTaxableSwitch',
    on: field.displayTaxableSwitch,
    value: true,
    errors: field.getErrors('displayTaxableSwitch'),
    instructions: "Switch on to display a taxable option for this field."
}) }}

{{ forms.lightswitchField({
    label: 'Taxable Default'|t,
    id: 'defaultTaxable',
    required: true,
    name: 'defaultTaxable',
    on: field.defaultTaxable,
    value: true,
    errors: field.getErrors('defaultTaxable'),
    instructions: "Switch on to have items Taxable by default."
}) }}

<div class="snipcart-product-details-field-group snipcart-product-details-weight-group">
    <div class="label">
        <label for="weight">
            {{- "Default Weight"|t -}}
        </label>
    </div>
    <div class="inputs">
        {{ forms.text({
            id: 'defaultWeight',
            name: 'defaultWeight',
            value: field.defaultWeight ?? '',
            size: 5,
            errors: field.getErrors('defaultWeight'),
        }) }}

        <div class="select">
            {{ forms.select({
                id: 'defaultWeightUnit',
                name: 'defaultWeightUnit',
                options: weightUnitOptions,
                value: field.defaultWeightUnit ?? '',
                errors: field.getErrors('defaultWeightUnit'),
            }) }}
        </div>
    </div>
</div>

<div class="snipcart-product-details-field-group snipcart-product-details-dimensions-group">
    <div class="label">
        <label>
            {{- "Default Dimensions"|t -}}
        </label>
    </div>
    <div class="inputs">
        {{ forms.text({
            id: 'defaultLength',
            name: 'defaultLength',
            class: 'dimension-input',
            placeholder: 'L',
            size: 5,
            value: field.defaultLength ?? '',
            errors: field.getErrors('length'),
        }) }} <span class="muted">×</span>

        {{ forms.text({
            id: 'defaultWidth',
            name: 'defaultWidth',
            class: 'dimension-input',
            placeholder: 'W',
            size: 5,
            value: field.defaultWidth ?? '',
            errors: field.getErrors('width'),
        }) }} <span class="muted">×</span>

        {{ forms.text({
            id: 'defaultHeight',
            name: 'defaultHeight',
            class: 'dimension-input',
            placeholder: 'H',
            size: 5,
            value: field.defaultHeight ?? '',
            errors: field.getErrors('height'),
        }) }}

        <div class="select">
            {{ forms.select({
                id: 'defaultDimensionsUnit',
                name: 'defaultDimensionsUnit',
                options: dimensionsUnitOptions,
                value: field.defaultDimensionsUnit ?? '',
                errors: field.getErrors('dimensionsUnit'),
            }) }}
        </div>
    </div>
</div>
