{# @var customer \workingconcept\snipcart\models\Customer #}
{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("workingconcept\\snipcart\\assetbundles\\SnipcartAsset") %}

{% set crumbs = [
    { label: "Snipcart"|t('snipcart'), url: url('snipcart') },
    { label: "Customers"|t('snipcart'), url: url('snipcart/customers') }
] %}

{% set isTestMode = craft.app.plugins.getPlugin('snipcart').getSettings().testMode %}
{% set title = customer.billingAddress.name ~ (isTestMode ? " 🚧") %}

{% block content %}
    <div>
        <div class="detail-columns block px-3 mb-8">
            <div class="md:flex -mx-6">
                <div class="md:w-1/2 mx-3">
                    <div class="inner">
                        <h2>{{ "Billing"|t }}</h2>

                        <p><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>

                        <p>
                            {% if customer.billingAddressName %}{{ customer.billingAddressName }}<br>{% endif %}
                            {% if customer.billingAddressCompanyName %}{{ customer.billingAddressCompanyName }}<br>{% endif %}
                            {{ customer.billingAddressAddress1 }}<br>
                            {% if customer.billingAddressAddress2 %}{{ customer.billingAddressAddress2 }}<br>{% endif %}
                            {{ customer.billingAddressCity }}, {{ customer.billingAddressProvince }} {{ customer.billingAddressPostalCode }}<br>
                            {% if customer.billingAddressPhone %}{{ customer.billingAddressPhone }}{% endif %}
                        </p>

                        <h2>{{ "Shipping"|t }}{% if customer.shippingAddressSameAsBilling %} {{ "(same as billing)"|t }}{% endif %}</h2>

                        <p>
                            {% if customer.shippingAddressName %}{{ customer.shippingAddressName }}<br>{% endif %}
                            {% if customer.shippingAddressCompanyName %}{{ customer.shippingAddressCompanyName }}<br>{% endif %}
                            {{ customer.shippingAddressAddress1 }}<br>
                            {% if customer.shippingAddressAddress2 %}{{ customer.shippingAddressAddress2 }}<br>{% endif %}
                            {{ customer.shippingAddressCity }}, {{ customer.shippingAddressProvince }} {{ customer.shippingAddressPostalCode }}<br>
                            {{ customer.shippingAddressPhone }}
                        </p>

                        <a href="{{ customer.dashboardUrl() }}" class="btn mt-8" target="_blank">
                            {{- "View in Snipcart Dashboard"|t -}}
                        </a>
                    </div>
                </div>
                <div class="mt-6 md:w-1/2 md:mt-0 mx-3">
                    <div class="inner">
                        <h2>{{ "Orders"|t }}</h2>

                        <p>
                            {{- customer.statistics.ordersCount }} order
                            {%- if customer.statistics.ordersCount != 1 %}s{% endif %},
                            {{ craft.snipcart.defaultCurrencySymbol }}{{ customer.statistics.ordersAmount | number_format(2) }} {{ "spent"|t }}
                        </p>

                        <table class="data w-full">
                            <thead>
                                <th>{{ "Invoice"|t }}</th>
                                <th>{{ "Date"|t }}</th>
                                <th>{{ "Amount"|t }}</th>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{{ url('snipcart/order/'~order.token) }}">
                                            {{- order.invoiceNumber -}}
                                        </a>
                                    </td>
                                    <td>
                                        {{- order.creationDate | date('short') -}}
                                    </td>
                                    <td>
                                        {{- order.finalGrandTotal | currency(order.currency|upper) -}}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
