{# @var customer \workingconcept\snipcart\models\Customer #}
{% extends "snipcart/cp/_layout" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("workingconcept\\snipcart\\assetbundles\\SnipcartAsset") %}

{% set title = "Snipcart Customers"|t %}
{% set selectedTab = "customers" %}

{% import "snipcart/_macros" as utils %}

{% block content %}

    <p id="noredirects"{% if customers|length %} class="hidden"{% endif %}>
        {{ "There aren't any customers with accounts yet."|t }}
    </p>

    <div class="callout mb-6 p-2" style="background: #eee;">
        <form action="" method="post">
            {{ csrfInput() }}

            {{ forms.text({
                first: true,
                label: 'Keywords'|t,
                id: 'searchKeywords',
                required: true,
                placeholder: 'customer name',
                name: 'searchKeywords',
                value: keywords,
                style: 'width: 200px;'
            }) }}

            <input type="submit" class="btn submit" name="submit" value="{{ 'Search'|t }}">
            {% if keywords %}
                <input type="submit"
                    class="btn"
                    name="submit"
                    onclick="document.getElementById('searchKeywords').value = '';"
                    value="{{ 'Clear'|t }}"
                >
            {% endif %}
        </form>
    </div>

    {% if customers|length %}

        <table id="customers" class="data w-full">
            <thead>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Email"|t }}</th>
                <th scope="col">{{ "Billing Address"|t }}</th>
                <th scope="col">{{ "Orders"|t }}</th>
                <th scope="col">{{ "Total Spent"|t }}</th>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr data-id="{{ customer.id }}" data-name="{{ customer.id }}">
                        <td><a href="{{ customer.cpUrl }}">{{ customer.billingAddressName }}</a></td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.billingAddressAddress1 }}</td>
                        <td>{{ customer.statistics.ordersCount }}</td>
                        <td>{{ utils.formatCurrency(customer.statistics.ordersAmount) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "snipcart/cp/_parts/pagination" with {
            currentPage: pageNumber,
            totalPages: totalPages,
            path: 'snipcart/customers/'
        } %}

    {% endif %}

{% endblock %}