{# @var discount \workingconcept\snipcart\models\Discount #}
{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("workingconcept\\snipcart\\assetbundles\\SnipcartAsset") %}

{% set crumbs = [
    { label: "Snipcart"|t('snipcart'), url: url('snipcart') },
    { label: "Discounts"|t('snipcart'), url: url('snipcart/discounts') }
] %}

{% set title = discount.name %}

{% block content %}

    {% if discount.expires < now %}
        <div class="block p-2 border border-solid border-alert-blue rounded-sm text-alert-blue mb-8">
            {{ "This discount expired"|t }} {{ discount.expires | date('F j, Y') }}.
        </div>
    {% endif %}

    <div class="detail-columns block px-3 mb-8">
        <div class="flex-wrapper -mx-6">
            <div class="w-1/2 mx-3">
                <div class="inner">

                    <h2>{{ "Details"|t }}</h2>

                    <p class="text-muted">
                        {{ "Created"|t }} {{ discount.creationDate | date('F j, Y') }}
                        {%- if discount.expires %}, {{ "expires"|t }} {{ discount.expires | date('F j, Y') }}{% endif %}
                    </p>

                    <table class="data fullwidth fixed-layout">
                        <tbody>
                            <tr>
                                <th class="light">{{ "Type"|t }}</th>
                                <td>{{ discount.type }}</td>
                            </tr>
                            {% if 'amount' in discount.typeOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Amount"|t }}</th>
                                    <td>{{ discount.amount }}</td>
                                </tr>
                            {% endif %}
                            {% if 'productIds' in discount.typeOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Product IDs"|t }}</th>
                                    <td>{{ discount.productIds }}</td>
                                </tr>
                            {% endif %}
                            {% if 'rate' in discount.typeOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Rate"|t }}</th>
                                    <td>{{ discount.rate }}</td>
                                </tr>
                            {% endif %}
                            {% if 'alternatePrice' in discount.typeOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Alternate Price"|t }}</th>
                                    <td>{{ discount.alternatePrice }}</td>
                                </tr>
                            {% endif %}
                            {% if 'shippingDescription' in discount.typeOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Shipping Description"|t }}</th>
                                    <td>{{ discount.shippingDescription }}</td>
                                </tr>
                            {% endif %}
                            {% if 'shippingCost' in discount.typeOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Shipping Cost"|t }}</th>
                                    <td>{{ discount.shippingCost }}</td>
                                </tr>
                            {% endif %}
                            {% if 'shippingGuaranteedDaysToDelivery' in discount.typeOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Shipping Guaranteed Days to Delivery"|t }}</th>
                                    <td>{{ discount.shippingGuaranteedDaysToDelivery }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th class="light">{{ "Trigger"|t }}</th>
                                <td>{{ discount.trigger }}</td>
                            </tr>
                            {% if 'code' in discount.triggerOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Code"|t }}</th>
                                    <td>{{ discount.code }}</td>
                                </tr>
                            {% endif %}
                            {% if 'totalToReach' in discount.triggerOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Total to Reach"|t }}</th>
                                    <td>{{ discount.totalToReach }}</td>
                                </tr>
                            {% endif %}
                            {% if 'itemId' in discount.triggerOptionFields() %}
                                <tr>
                                    <th class="light">{{ "Item ID"|t }}</th>
                                    <td>{{ discount.itemId }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th class="light">{{ "Combinable"|t }}</th>
                                <td>{{ discount.combinable ? "yes"|t : "no"|t }}</td>
                            </tr>
                            <tr>
                                <th class="light">{{ "Applies on All Recurring Orders"|t }}</th>
                                <td>{{ discount.appliesOnAllRecurringOrders ? "yes"|t : "no"|t }}</td>
                            </tr>
                            <tr>
                                <th class="light">{{ "Only on Same Products"|t }}</th>
                                <td>{{ discount.onlyOnSameProducts ? "yes"|t : "no"|t }}</td>
                            </tr>
                            {% if discount.maxAmountToReach %}
                                <tr>
                                    <th class="light">{{ "Max Amount to Reach"|t }}</th>
                                    <td>{{ discount.maxAmountToReach }}</td>
                                </tr>
                            {% endif %}
                            {% if discount.quantityOfAProduct %}
                                <tr>
                                    <th class="light">{{ "Quantity of a Product"|t }}</th>
                                    <td>{{ discount.quantityOfAProduct }}</td>
                                </tr>
                            {% endif %}
                            {% if discount.maxQuantityOfAProduct %}
                                <tr>
                                    <th class="light">{{ "Max Quantity of a Product"|t }}</th>
                                    <td>{{ discount.maxQuantityOfAProduct }}</td>
                                </tr>
                            {% endif %}
                            {% if discount.quantityOfProductIds %}
                                <tr>
                                    <th class="light">{{ "Quantity of Product IDs"|t }}</th>
                                    <td>{{ discount.quantityOfProductIds }}</td>
                                </tr>
                            {% endif %}
                            {% if discount.numberOfItemsRequired %}
                                <tr>
                                    <th class="light">{{ "Number of Items Required"|t }}</th>
                                    <td>{{ discount.numberOfItemsRequired }}</td>
                                </tr>
                            {% endif %}
                            {% if discount.numberOfFreeItems %}
                                <tr>
                                    <th class="light">{{ "Number of Free Items"|t }}</th>
                                    <td>{{ discount.numberOfFreeItems }}</td>
                                </tr>
                            {% endif %}
                            {% if discount.hasSavedAmount %}
                                <tr>
                                    <th class="light">{{ "Has Saved Amount"|t }}</th>
                                    <td>{{ discount.hasSavedAmount ? "yes"|t : "no"|t }}</td>
                                </tr>
                            {% endif %}
                            {% if discount.quantityInterval %}
                                <tr>
                                    <th class="light">{{ "Quantity Interval"|t }}</th>
                                    <td>{{ discount.quantityInterval }}</td>
                                </tr>
                            {% endif %}
                            {% if discount.affectedItems | length %}
                                <tr>
                                    <th class="light">{{ "Affected Items"|t }}</th>
                                    <td>
                                        <ul>
                                            {% for item in discount.affectedItems %}
                                                <li>{{ item }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if discount.products | length %}
                                <tr>
                                    <th class="light">{{ "Affected Items"|t }}</th>
                                    <td>
                                        <ul>
                                            {% for product in discount.products %}
                                                <li>{{ product }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="w-1/2 mx-3">
                <div class="inner">
                    <h2>{{ "Usage"|t }}</h2>

                    <div class="block border h-2 border-solid border-grey rounded-full w-full relative overflow-hidden mt-5" style="margin-bottom: 1.15rem;">
                        <div class="bg-grey h-full absolute" style="width: {{ (discount.numberOfUsages / discount.maxNumberOfUsages) * 100 }}%;"></div>
                    </div>

                    <table class="data fullwidth fixed-layout">
                        <tbody>
                        <tr>
                            <th class="light">{{ "Number of Usages / Max"|t }}</th>
                            <td>{{ discount.numberOfUsages }} / {{ discount.maxNumberOfUsages }}</td>
                        </tr>
                        <tr>
                            <th class="light">{{ "Number of Usages Uncompleted"|t }}</th>
                            <td>{{ discount.numberOfUsagesUncompleted }}</td>
                        </tr>
                        <tr>
                            <th class="light">{{ "Is For a Recovery Campaign"|t }}</th>
                            <td>{{ discount.isForARecoveryCampaign ? "yes"|t : "no"|t }}</td>
                        </tr>
                        <tr>
                            <th class="light">{{ "Archived"|t }}</th>
                            <td>{{ discount.archived ? "yes"|t : "no"|t }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {#
    <p>
        <b>{{ "Data Attribute"|t }}</b>
        {{ discount.dataAttribute }}
    </p>
    #}

    <form action="" method="post">
        <input type="hidden" name="action" value="snipcart/discounts/delete-discount">
        <input type="hidden" name="discountId" value="{{ discount.id }}">
        {{ csrfInput() }}

        <input type="submit" class="btn" value="{{ "Delete"|t }}">
    </form>

    <a href="{{ discount.dashboardUrl() }}" class="btn mt-8" target="_blank">
        {{- "View in Snipcart Dashboard"|t -}}
    </a>

    {# added so new control panel styles don't add a weird bottom pad to the button above #}
    <br>

{% endblock %}
