{# @var subscription \workingconcept\snipcart\models\Subscription #}
{% extends "snipcart/cp/_layout" %}

{% do view.registerAssetBundle("workingconcept\\snipcart\\assetbundles\\SnipcartAsset") %}

{% set isTestMode = craft.app.plugins.getPlugin('snipcart').getSettings().testMode %}
{% set title         = "Snipcart Subscriptions" ~ (isTestMode ? " 🚧") %}
{% set selectedTab   = "subscriptions" %}

{% block content %}
    <div>
        <p id="noredirects"{% if subscriptions | length %} class="hidden"{% endif %}>
            {{ "There aren’t any subscriptions yet." | t }}
        </p>

        {% if subscriptions |length %}
            <table id="carts" class="data w-full">
                <thead>
                <th scope="col">{{ "Plan"|t }}</th>
                <th scope="col">{{ "Subscriber"|t }}</th>
                <th scope="col">{{ "Created"|t }}</th>
                <th scope="col">{{ "Amount"|t }}</th>
                <th scope="col">{{ "Quantity"|t }}</th>
                <th scope="col">{{ "Status"|t }}</th>
                <th scope="col">{{ "Recurring Shipping"|t }}</th>
                </thead>
                <tbody>
                {% for subscription in subscriptions %}
                    <tr data-id="{{ subscription.id }}"
                        data-name="{{ subscription.user.email }}">
                        <td>
                            <a href="{{ subscription.cpUrl }}">{{ subscription.name }}</a>
                        </td>
                        <td>{{ subscription.user.billingAddressName }}</td>
                        <td>{{ subscription.creationDate|date('short') }}</td>
                        <td>{{ craft.snipcart.formatCurrency(subscription.amount) }}</td>
                        <td>{{ subscription.quantity }}</td>
                        <td>{{ subscription.status }}</td>
                        <td>
                            {% if subscription.recurringShipping %}
                                <span data-icon="check"
                                      title="{{ 'Yes'|t('snipcart') }}"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include "snipcart/cp/_parts/pagination" with {
                perPage: 20,
                pageItems: subscriptions | length,
                currentPage: pageNumber,
                totalPages: totalPages,
                totalItems: totalItems,
                itemLabel: 'subscription',
                itemsLabel: 'subscriptions',
                path: 'snipcart/subscriptions/'
            } %}

        {% endif %}
    </div>
{% endblock %}