{# @var order \workingconcept\snipcart\models\Order #}
{# @var customer \workingconcept\snipcart\models\Customer #}
{% extends "snipcart/cp/_layout" %}

{% do view.registerAssetBundle("workingconcept\\snipcart\\assetbundles\\SnipcartAsset") %}

{% set title = "Snipcart"|t %}
{% set selectedTab = "overview" %}

{% import "snipcart/_macros" as utils %}

{% block content %}

    <h2>
        {{- startDate | date('F j, Y') }} – {{ endDate | date('F j, Y') -}}
    </h2>

    <div id="stat-panels" class="snipcart-stat-panels px-2">
        <div class="-mx-4 flex-wrap md:flex-no-wrap md:flex-row flex-wrapper justify-center h-full">
            <div class="stat-panel flex-wrapper flex-col mb-4 md:mb-0 bg-light-grey border-grey rounded w-1/3 md:w-1/5 mx-2 justify-center content-center">
                <div class="px-3 pt-4 pb-5 text-center">
                    <div class="stat text-slate mb-3 leading-tight">
                        {{- "Orders"|t -}}
                    </div>
                    <div id="stat-ordersCount" class="number text-2xl">
                        <div class="spinner"></div>
                        {#{- stats.ordersCount | number_format -}#}
                    </div>
                </div>
            </div>
            <div class="stat-panel flex-wrapper flex-col mb-4 md:mb-0 bg-light-grey border-grey rounded w-1/3 md:w-1/5 mx-2 justify-center content-center">
                <div class="px-3 pt-4 pb-5 text-center">
                    <div class="stat text-slate mb-3 leading-tight">
                        {{- "Sales"|t -}}
                    </div>
                    <div id="stat-ordersSales" class="number text-2xl">
                        <div class="spinner"></div>
                        {#{- stats.ordersSales | currency -}#}
                    </div>
                </div>
            </div>
            <div class="stat-panel flex-wrapper flex-col mb-4 md:mb-0 bg-light-grey border-grey rounded w-1/3 md:w-1/5 mx-2 justify-center content-center">
                <div class="px-3 pt-4 pb-5 text-center">
                    <div class="stat text-slate mb-3 leading-tight">
                        {{- "Average Order"|t -}}
                    </div>
                    <div id="stat-averageOrdersValue" class="number text-2xl">
                        <div class="spinner"></div>
                        {#{- stats.averageOrdersValue | currency -}#}
                    </div>
                </div>
            </div>
            <div class="stat-panel flex-wrapper flex-col mb-4 md:mb-0 bg-light-grey border-grey rounded w-1/3 md:w-1/5 mx-2 justify-center content-center">
                <div class="px-3 pt-4 pb-4 text-center">
                    <div class="stat text-slate mb-3 leading-tight">
                        {{- "Customers"|t -}}
                    </div>
                    <div class="number flex-wrapper">
                        <div class="w-1/2">
                            <div id="stat-newCustomers" class="text-2xl">
                                <div class="spinner"></div>
                                {#{- stats.customers.newCustomers -}#}
                            </div>
                            <div class="text-xs">
                                {{- "New"|t -}}
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div id="stat-returningCustomers" class="text-2xl">
                                <div class="spinner"></div>
                                {#{- stats.customers.returningCustomers -}#}
                            </div>
                            <div class="text-xs">
                                {{- "Returning"|t -}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stat-panel flex-wrapper flex-col mb-4 md:mb-0 bg-light-grey border-grey rounded w-1/3 md:w-1/5 mx-2 justify-center content-center">
                <div class="px-3 pt-4 pb-5 text-center">
                    <div class="stat text-slate mb-3 leading-tight">
                        {{- "Average Customer Value"|t -}}
                    </div>
                    <div id="stat-averageCustomerValue" class="number text-2xl">
                        <div class="spinner"></div>
                        {#{- stats.averageCustomerValue | currency -}#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-10">

    <div class="detail-columns block mt-8 mb-8">
        <div class="block md:flex md:-mx-3">
            <div class="w-full mb-8 md:mb-0 md:w-1/2 md:mx-3">
                <div class="inner">
                    <h2>{{ "Recent Orders"|t }}</h2>

                    <table id="stat-orders" class="data w-full">
                        <thead>
                            <th scope="col">{{ "Invoice"|t }}</th>
                            <th scope="col">{{ "Placed"|t }}</th>
                            <th scope="col">{{ "Customer"|t }}</th>
                            <th scope="col">{{ "Total"|t }}</th>
                        </thead>
                        <tbody>
                            {% for order in orders.items %}
                                <tr data-id="{{ order.invoiceNumber }}" data-name="{{ order.invoiceNumber }}">
                                    <td class="whitespace-no-wrap"><a href="{{ order.cpUrl }}">{{ order.invoiceNumber }}</a></td>
                                    <td>{{ order.creationDate | date('n/j') }}</td>
                                    <td>{{ order.billingAddress.name }}</td>
                                    <td>{{ utils.formatCurrency(order.finalGrandTotal, order.currency) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ url('snipcart/orders') }}" class="btn mt-6">{{ "All Orders"|t }}</a>
                </div>
            </div>
            <div class="w-full md:mb-0 md:w-1/2 md:mx-3">
                <div class="inner">
                    <h2>{{ "Top Customers"|t }}</h2>

                    <table id="stat-customers" class="data w-full">
                        <thead>
                            <th scope="col">{{ "Name"|t }}</th>
                            <th scope="col">{{ "Orders"|t }}</th>
                            <th scope="col">{{ "Total Spent"|t }}</th>
                        </thead>
                        <tbody>
                        {% for customer in customers.items %}
                            <tr data-id="{{ customer.id }}" data-name="{{ customer.id }}">
                                <td><a href="{{ customer.cpUrl }}">{{ customer.billingAddressName }}</a></td>
                                <td>{{ customer.statistics.ordersCount }}</td>
                                <td>{{ utils.formatCurrency(customer.statistics.ordersAmount) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ url('snipcart/customers') }}" class="btn mt-6">
                        {{- "All Customers"|t -}}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
