{# @var cart \workingconcept\snipcart\models\AbandonedCart #}
{% extends "snipcart/cp/_layout" %}

{% do view.registerAssetBundle("workingconcept\\snipcart\\assetbundles\\SnipcartAsset") %}

{% set title       = "Snipcart Abandoned Carts"|t %}
{% set selectedTab = "abandoned" %}

{% import "snipcart/_macros" as utils %}

{% block content %}

    <p id="noredirects"{% if carts | length %} class="hidden"{% endif %}>
        {{ "There aren't any abandoned carts yet."|t }}
    </p>

    {% if carts | length %}

        <table id="carts" class="data w-full">
            <thead>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Email"|t }}</th>
                <th scope="col">{{ "Status"|t }}</th>
                <th scope="col">{{ "Date"|t }}</th>
                <th scope="col">{{ "Total"|t }}</th>
            </thead>
            <tbody>
                {% for cart in carts %}
                    <tr data-id="{{ cart.token }}" data-name="{{ cart.email }}">
                        <td><a href="{{ cart.cpUrl }}">{{ cart.billingAddress.name }}</a></td>
                        <td>{{ cart.email }}</td>
                        <td>{{ cart.status }}</td>
                        <td>{{ cart.modificationDate | date() }}</td>
                        <td>{{ utils.formatCurrency(cart.total) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if hasMoreResults and continuationToken %}
        <div class="text-center mt-8">
            <a id="load-carts" class="btn" data-continuation-token="{{ continuationToken }}">{{ "Load More"|t }} …</a>
        </div>
        {% endif %}

    {% endif %}

{% endblock %}