{# @var order \workingconcept\snipcart\models\Order #}

{% set isAbandonedCart = type is defined and type == 'abandonedCart' %}
{% set hasSubtotal = not isAbandonedCart %}
{% set hasShippingMethod = not isAbandonedCart %}
{% set hasShippingInformation = isAbandonedCart %}
{% set hasPromoCodes = not isAbandonedCart %}
{% set hasRebate = not isAbandonedCart %}
{% set hasFinalGrandTotal = not isAbandonedCart %}

<table class="items-table w-full">
    <thead>
        <th>
            {{- "Qty"|t -}}
        </th>
        <th>
            {{- "Name"|t -}}
        </th>
        {# alignment has to be set with an inline style property :( #}
        <th class="text-right">
            {{- "Price"|t -}}
        </th>
        <th class="text-right">
            {{- "Total Price"|t -}}
        </th>
    </thead>
    <tbody>
        {% for item in order.items %}
            {% set isSubscription = item.paymentSchedule is defined
                and item.paymentSchedule
                and item.paymentSchedule.interval %}
            <tr>
                <td>
                    {{- item.quantity -}}
                </td>
                <td>
                    {{- item.name -}}
                    {%- if isSubscription %}
                        &nbsp;<span data-icon="refresh"
                                    class="opacity-75"
                                    title="{{ 'Subscription'|t }}"></span>
                    {%- endif -%}
                    {% if isSubscription %}
                        <p class="text-xs leading-tight font-bold my-1">
                            {{- 'Every {intervalLabel}, starts {date}'|t(params = {
                                intervalLabel: item.paymentSchedule.getIntervalLabel(),
                                date: item.paymentSchedule.startsOn | date('short')
                            }) -}}
                        </p>
                    {% endif %}
                    {% if item.customFields | length %}
                        <div class="text-xs leading-tight">
                            {% for custom in item.customFields %}
                                {{ custom.name }}: <b>{{ custom.value }}</b>
                                {%- if loop.last != true -%}
                                    <br>
                                {%- endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td class="text-right">
                    {{- craft.snipcart.formatCurrency(item.price, order.currency) -}}
                </td>
                <td class="text-right">
                    {{- craft.snipcart.formatCurrency(item.totalPrice, order.currency) -}}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <hr class="m-0">
            </td>
        </tr>
        {% if hasSubtotal %}
            <tr>
                <td colspan="3">
                    {{- "Subtotal"|t -}}
                </td>
                <td class="text-right">
                    {{- craft.snipcart.formatCurrency(order.subtotal, order.currency) -}}
                </td>
            </tr>
        {% endif %}
        {% if hasShippingMethod %}
            <tr>
                <td colspan="3">
                    {{- "Shipping"|t -}}
                    <span class="text-xs block">
                        {{- order.shippingMethod }}
                        {%- if order.totalWeight %} ({{ order.totalWeight }} grams){% endif -%}
                    </span>
                </td>
                <td class="text-right">
                    {% if order.shippingFees %}
                        {{- craft.snipcart.formatCurrency(order.shippingFees, order.currency) -}}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if hasShippingInformation and order.shippingInformation.fees is defined %}
            <tr>
                <td>
                    {{- "Shipping"|t -}}
                </td>
                <td colspan="2">
                    <span class="text-xs">
                        {{- order.shippingInformation.method }}
                        {%- if order.totalWeight %} ({{ order.totalWeight }} grams){% endif -%}
                    </span>
                </td>
                <td style="text-align: right;">
                    {{- craft.snipcart.formatCurrency(order.shippingInformation.fees, order.currency) -}}
                </td>
            </tr>
        {% endif %}
        {% for tax in order.taxes %}
            <tr>
                <td colspan="3">
                    {{- tax.taxName }} ({{ tax.taxRate }})
                </td>
                <td style="text-align: right;">
                    {{- craft.snipcart.formatCurrency(tax.amount, order.currency) -}}
                    {# {{ tax.numberForInvoice }} #}
                </td>
            </tr>
        {% endfor %}
        {% if hasPromoCodes and order.promocodes is defined %}
            {% for code in order.promocodes %}
                <tr>
                    <td colspan="4" class="text-right">
                        <i>{{ "Promo Code"|t }} <code>{{ code.code }}</code> ({{ code.type }}, {{ code.rate }})</i>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if hasRebate and order.rebateAmount %}
            <tr>
                <td>
                    {{- "Total Rebates"|t -}}
                </td>
                <td colspan="3" class="text-right">
                    {{- craft.snipcart.formatCurrency(order.rebateAmount, order.currency) -}}
                </td>
            </tr>
        {% endif %}
        {% if hasFinalGrandTotal %}
            <tr>
                <td colspan="3">
                    <b>{{- "Grand Total"|t -}}</b>
                </td>
                <td class="text-right">
                    <b>{{ craft.snipcart.formatCurrency(order.finalGrandTotal, order.currency) }}</b>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    <b>{{- "Total"|t -}}</b>
                </td>
                <td class="text-right">
                    <b>{{ craft.snipcart.formatCurrency(order.total, order.currency) }}</b>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>