{% set nearbyLimit = 4 %}
{% set ellipsisElement = '<span class="sep-dots">...</span>' %}

{% macro pagingLink(pageNumber, label, path) -%}
    {%- set pagingTrigger = 'p' -%}
    <a class="btn" href="{{ url(path ~ pagingTrigger ~ pageNumber) }}">
        {{- label -}}
    </a>
{%- endmacro %}

{% import _self as util %}

{% if totalPages > 1 %}
    <div class="pagination mt-8">
        {% if currentPage != 1 %}
            {{ util.pagingLink(1, 'First'|t, path) }}
        {% endif %}
        {% for i in 1..totalPages %}
            {% if 0 == (currentPage - nearbyLimit) - loop.index %} {# dot before #}
                {{ ellipsisElement | raw }}
            {% elseif 0 == (currentPage + nearbyLimit) - loop.index %} {# dot after #}
                {{ ellipsisElement | raw }}
            {% elseif 0 < (currentPage - nearbyLimit) - loop.index %} {# hide all before #}
            {% elseif 0 > (currentPage + nearbyLimit) - loop.index %} {# hide all after #}
            {% else %}
                {% if currentPage == loop.index  %}
                    <a class="btn active">
                        {{- currentPage -}}
                    </a>
                {% else %}
                    {{ util.pagingLink(i, i, path) }}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if currentPage != totalPages %}
            {{ util.pagingLink(totalPages, 'Last'|t, path) }}
        {% endif %}
    </div>
{% endif %}
