{# @var order \workingconcept\snipcart\models\Order #}
{% extends "snipcart/cp/_layout" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("workingconcept\\snipcart\\assetbundles\\SnipcartAsset") %}

{% set title = "Snipcart Orders"|t %}
{% set selectedTab = "orders" %}

{% import "snipcart/_macros" as utils %}

{% block content %}

    <p id="noredirects"{% if orders|length %} class="hidden"{% endif %}>
        {{- "There aren't any orders to show. Time to sell some things!"|t -}}
    </p>

    {% if orders|length %}
        <div class="callout mb-6 p-2" style="background: #eee;">
            <form action="" method="post">
                {{ csrfInput() }}

                {{ forms.date({
                    first: true,
                    label: 'Start Date'|t,
                    id: 'startDate',
                    required: true,
                    name: 'startDate',
                    defaultDate: startDate,
                    value: startDate
                }) }}

                <em>to</em>

                {{ forms.date({
                    label: 'End Date'|t,
                    id: 'endDate',
                    required: true,
                    name: 'endDate',
                    defaultDate: endDate,
                    value: endDate
                }) }}

                <input type="submit" class="btn submit" name="submit" value="Update">
            </form>
        </div>

        <table id="orders" class="data w-full">
            <thead>
                <th scope="col">{{ "Invoice"|t }}</th>
                <th scope="col">{{ "Placed"|t }}</th>
                <th scope="col">{{ "Customer"|t }}</th>
                <th scope="col">{{ "Email"|t }}</th>
                <th scope="col">{{ "Total"|t }}</th>
                <th scope="col">{{ "Status"|t }}</th>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr data-id="{{ order.invoiceNumber }}" data-name="{{ order.invoiceNumber }}">
                        <td><a href="{{ order.cpUrl }}">{{ order.invoiceNumber }}</a></td>
                        <td>{{ order.creationDate | date('n/j/Y') }}</td>
                        <td>{{ order.billingAddress.name }}</td>
                        <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
                        <td>{{ utils.formatCurrency(order.finalGrandTotal, order.currency) }}</td>
                        <td>
                            {%- if order.status == "Open" -%}
                                <div class="status"></div>
                            {% elseif order.status == "Processed" -%}
                                <div class="status active"></div>
                            {% endif %}
                            {{ order.status -}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include "snipcart/cp/_parts/pagination" with {
            currentPage: pageNumber,
            totalPages: totalPages,
            path: 'snipcart/orders/'
        } %}

    {% endif %}

{% endblock %}
